/* Rafa fixes */


.fix-table-first-row{
    max-width: 210px;
    overflow: hidden;
}

.topBar-BG-fix{
    width: 256px;
    background-color: #000000;
    position: fixed;
    right: -22px;
    height: 52px;
}

.zindex-rafa-fix{
    z-index: 100;
}


.profile-button-rafa-fix{
    position: absolute;
    right: 20px;
}


.topNav-Bar-Rafafix{
    position: fixed;
    width: 77%;
    background: black;
}

.secondpart-mb-fix{
    margin-bottom: 80px

}