/* Rafa Css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.navBar-container {
}

.mod-navBar {
  padding-top: 24px;
  max-width: 232px;
  background-color: #000000;
}


.login-mod-logo{
  color: aquamarine;
  width: 156px;
}

.mod-logo {
  height: 40px;
  max-width: 131px;
  width: 100%;
  margin-left: 24px;
  margin-bottom: 18px;
}

.mod-logo > svg,
.nav-menu > li,
.nav-menu > li > a {
  color: white;
}

.square {
  width: 24px;
  height: 24px;
  background-color: white;
}

.square.mod-BGC {
  background: linear-gradient(135deg, #450af5, #c4efd9);
  background-image: linear-gradient(
    135deg,
    rgb(69, 10, 245),
    rgb(196, 239, 217)
  );
}

.square.mod-BGC > svg,
.download-app svg,
.scrolling-svg > svg,
.footer-album-icons > div > svg,
#player-controls > .icon-target-area > svg,
#pairingDevice > svg,
#volumeMute-icon svg {
  fill: white;
}

#scrolling-menu {
  width: 240px;
  height: 484px;
}

.scrolling-menu > div > p {
  color: white;
}

.scroll {
  color: seashell;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: 96%;
}

.scroll > ul > li {
  list-style: none;
  padding-right: 32px;
}


.mod-color-white,
.footer-music-name,
.footer-album-icons > .icon-target-area > svg,
#track-bar span {
  color: white;
}

.footer-music-name {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Footer Player */
#footer {
  position: fixed;
  bottom: 0px;
  height: 90px;
  border-top: 1px solid #282828;
  background-color: #181818;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.footer-text-small {
  font-size: 12px;
}

.footer-music-stats {
  width: 30%;
}

.footer-album-text {
  min-width: 56px;
}

.footer-album-cover {
  min-width: 56px;
}

.icon-target-area {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Music Player */

#track-bar {
  max-width: 722px;
  width: 40%;
}

#footer-player {
  width: 40%;
}

#player-play-music {
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

#progress-bar-wrapper {
  overflow: hidden;
  width: 100%;
  border-radius: 14%;

  /* New */
  height: 24px;
    display: flex;
    align-items: center;
    width: 100%;
}

#volume-bar-wrapper {
  overflow: hidden;
  border-radius: 14%;
  position: relative;
}

.bar-outer-wrapper {
  position: relative;
  width: 100%;
}

#volume-bar-outer-wrapper {
  position: relative;
}

.progress-bar-indicator {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 40px;
  background-color: rgb(151, 160, 150);
  z-index: 100;
  top: 8.5px;
}

#progress-bar-wrapper::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: rgb(168, 226, 160);
  z-index: 100;
  top: 9px;
}

#progress-bar {
  height: 4px;
  border: 2px;
  background-color: #535353;
  width: 100%;
}

#volume-progress-bar {
  height: 4px;
  border: 2px;
  background-color: #535353;
  width: 96px;
}

#pairingDevice > svg {
  height: 16px;
}

#footer-side-controls {
  width: 30%;
}

#footer-side-controls-wrapper {
  width: 70%;
}

/* Volume controls */
#increase-vol-BTN {
  width: 24px;
  height: 24px;
  position: absolute;
  visibility: hidden;
  top: -10px;
  right: 0px;
}
#decrease-vol-BTN {
  width: 24px;
  height: 24px;
  position: absolute;
  visibility: hidden;
  top: -10px;
}
